#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.subtle-alert {
  background-color: #0001;
  color: #111b;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em 0;
  box-shadow: 0 0 8px #00000017;
}

.button-default {
  width: max-content;
}

.notifications {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-end;
  background-color: #0001;
  z-index: 1001;
}

.menubar {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin: 1em 0;
  padding: 1em;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  background-color: #bbbbbb17;
  box-shadow: 2px 2px 2px #00000017;
  height: 5em;
}

.nft-drawer {
  height: max-content;
  position: relative;
  overflow-y: visible;
  background-color: #ffe9;
}

.menu-button {
  color: #f0fff0;
  height: 100%;
  border-radius: 0;
  border: none;
  outline: none;
}

.menu-button:hover {
  background-color: #fff0 !important;
  color: #f0fff0 !important;
}

.menu-button:focus,
.menu-button:focus-visible {
  outline: none;
}